# =====================================================
# Python Cache
# =====================================================

__pycache__/
*.py[cod]

# =====================================================
# Virtual Environments
# =====================================================

.venv/
venv/

# =====================================================
# VS Code
# =====================================================

.vscode/

# =====================================================
# Large Datasets and Reference Files
# =====================================================

data/

# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/

# =====================================================
# Generated Output Files
# =====================================================

*.csv
*.xlsx
*.bed
*.log

# =====================================================
# Operating System Files
# =====================================================

.DS_Store
Thumbs.db